<!doctype html>
<html lang="ko">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-183C4YLM01"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-183C4YLM01');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5QGHSP4H');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4821011801576944"
     crossorigin="anonymous"></script>
    <script async custom-element="amp-auto-ads"
      src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
    </script>
    <title>너도나도로또 - AI 로또 자동 추첨</title>
    <meta name="description" content="자동추첨을 하더라도 내 입맛대로 보정을 하고 추첨하고 싶을 때 사용하는 로또 추첨기">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/favi/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favi/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favi/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favi/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favi/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta name="google-adsense-account" content="ca-pub-4821011801576944">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="naver-site-verification" content="ace1b23949b0a4d0c968279faba2d6b559037d7d" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QGHSP4H"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-4821011801576944">
    </amp-auto-ads>
    <!-- Navbar -->
    <header>
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/" class="nav-link text-black">
                <i class="bi bi-house"></i>
                메인
              </a>
            </li>
            <li>
              <a href="/statics" class="nav-link text-black">
                <i class="bi bi-bar-chart-line"></i>
                통계
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Main Image -->
    <div class="container">
      <div class="row justify-content-center align-content-center pt-6 mb-5" style="padding-top: 50px;">
        <img src="{{ url_for('static', filename='img/main-logo.png') }}" alt="메인이미지" style="width: 400px;">
        <p class="lead text-center pt-3 m-0 text-dark">내 입맛대로 랜덤 뽑기!</p>
        <p class="text-center m-0 text-muted">랜덤에서 빼고 싶은 숫자를 고르거나</p>
        <p class="text-center text-muted">자주 안 나온 번호의 확률을 높여보세요.</p>
      </div>
    </div>
    {% block content %}{% endblock %}
    <br>
    <div align="center">
      <ins class="kakao_ad_area" style="display:none;"
        data-ad-unit = "DAN-CbCcTFXoegtU9KLy"
        data-ad-width = "728"
        data-ad-height = "90"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>

    <div class="container fixed-bottom">
      <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 RN Studio </span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li><i class="bi bi-envelope"></i> randnumstudio@gmail.com</li>
        </ul>
      </footer>
    </div>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4821011801576944"
     crossorigin="anonymous"></script>
    <!-- 하단 배너 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4821011801576944"
         data-ad-slot="6396747729"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">

    </script>
  </body>
</html>